*.png filter=lfs diff=lfs merge=lfs -text
Assets/MeshBaker/Examples/Assets/ModelPrefabs/ConstructionDude/*.{fbx} filter=lfs diff=lfs merge=lfs -text
Assets/PolygonCity/Textures/*.{tga} filter=lfs diff=lfs merge=lfs -text
